@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.css-ring{
    transform: rotateY(55deg) rotateX(-55deg);
     transform-style: preserve-3d;

}



.css-ring1{
    transform: rotateY(-35deg) rotateX(-35deg);
     transform-style: preserve-3d;

}


.css-ring2{
    transform: rotateY(45deg) rotateX(10deg);
     transform-style: preserve-3d;

}
